.hourBlock {
  box-sizing: border-box;
  color: #B8B8B8;
  height: 60px;
  border-bottom: 1px solid #B8B8B8;
  text-align: left;
}

.eventBlock {
  position: absolute;
  background-color: #FFFFFF;
  top: 0px;
  right: 1px;
  left: 80px;
  text-align: left;
}